
/**
@draggable/tooltip - https://github.com/Draggable/tooltip
Version: 1.0.1
Author: Draggable https://draggable.io
*/


.MYkh1v7x{padding:.5rem 1rem;background:#4f46e5;color:#fff;border:none;border-radius:.25rem;cursor:pointer}._3x4ZIcu-{position:absolute;background:#1f2937;color:#fff;padding:.75rem;border-radius:.375rem;max-width:200px;z-index:50;visibility:hidden;opacity:0;transition:opacity .2s}._3x4ZIcu-.JIt36hCJ{visibility:visible;opacity:1}._3x4ZIcu-:before{content:"";position:absolute;width:0;height:0;border:6px solid transparent}._3x4ZIcu-[data-position=top]:before{border-top-color:#1f2937;bottom:-12px;left:50%;transform:translate(-50%)}._3x4ZIcu-[data-position=bottom]:before{border-bottom-color:#1f2937;top:-12px;left:50%;transform:translate(-50%)}._3x4ZIcu-[data-position=left]:before{border-left-color:#1f2937;right:-12px;top:50%;transform:translateY(-50%)}._3x4ZIcu-[data-position=right]:before{border-right-color:#1f2937;left:-12px;top:50%;transform:translateY(-50%)}
